version: "3.8"

services:
  postgres:
    image: postgres:18
    container_name: multi_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: multibrowser
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql
    networks:
      - multi-browser-network


  multi-browser-chrome-vnc:
      image: multi-browser-chrome-vnc:latest
      build:
        context: ./browser-image
        dockerfile: Dockerfile
      container_name: multi-browser-chrome-vnc

      user: "0:0"

      environment:
        - USER_DATA_DIR=/data/user-data
        - LANGUAGE=en-US
        - TIMEZONE=Europe/Moscow
        - SCREEN_WIDTH=1920
        - SCREEN_HEIGHT=1080
        - SCREEN_COLOR_DEPTH=24
        - DEVTOOLS_PORT=9222
        - DEVTOOLS_PROXY_PORT=9223
        - NOVNC_PORT=6080

      volumes:
        - ./profiles/profile_1:/data/user-data

      ports:
        - "6080:6080"
        - "9222:9222"
        - "9223:9223"

      shm_size: 2gb
      restart: unless-stopped
      stop_grace_period: 90s
      stop_signal: SIGTERM


  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: multibrowser-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    restart: unless-stopped
    depends_on:
      - postgres
    networks:
      - multi-browser-network

networks:
  multi-browser-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16
